POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dbtae
POSTGRES_USER=dbt_developer
POSTGRES_PASSWORD=dbt_developer_pw
RAW_DATABASE=dbtae
RAW_SCHEMA_ECOM=raw_ecom
RAW_SCHEMA_REF=raw_ref
DBT_PROFILES_DIR=/home/vscode/.dbt
